/* arrow */

.arrow {
  position: fixed;
  height: 50px;
  bottom: 70px;
  right: 30px;
  text-decoration: none;
  align-items: center;
  line-height: 50px;

  i {
    color: black;
    font-size: 25px;
  }
}
