/* header */

.hero__title {
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    text-decoration: none;
    color: black;
  }
}

.logo {
  width: 25px;
  margin-right: 0.5rem;
}

.nav-item {
  padding-left: 1rem;
}

.nav-link {
  display: inline-block;
  font-weight: 600;
  transition: $trancition;
}

.nav-link:hover {
  color: $color-principal;
}

.navbar-toggler {
  border: 0;
}

.navbar-toggler-icon {
  width: 1.5rem;
}
