/* header media */

@media (max-width: 575px) {
  .nav-item {
    padding-left: 0;
  }

  .nav-link {
    padding: 0.5rem 0;
  }
  .hero{
    background-color: $color-principal;
  }
  .nav-link:hover {
    color: black;
    text-decoration: underline;
  }
}

/* home media */

@media (max-height: 768px) {
  .section__home{
    height: 90vh;
}
}