/*menu*/

.banner__section {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;

  h3 {
    text-align: center;
    color: #ffc800;
    font-size: 32px;
  }
}

.card {
  margin-bottom: 2rem;

  h3 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
.container__cards {
  margin: 0 5%;
}
