/* Productos */

.burger__product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60vh;
  margin-top: 2rem;
}

.product__text {
  @include text_flex;
  width: 60%;

  .center__text--product {
    text-align: center;
    width: 80%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
    font-weight: 600;
  }
}

.product__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  padding: 0 5%;
  border-radius: 100%;
  background-color: $color-principal;
  img {
    width: 100%;
    height: 100%;
    max-width: 600px;
  }
}

.burger__details {
  margin-top: 3rem;
  text-align: center;
  h3 {
    font-size: 1.5rem;
  }
}

.table-responsive {
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  background-color: white;
  max-width: 80%;
  margin: 0 10%;
}
